<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sarcasm Analyser using Deep Learning">
    <meta name="author" content="David Martín-Gutiérrez">


    <!--<link href="http://flask.pocoo.org/docs/0.12/_static/flask-favicon.ico" rel="icon">-->
    <link rel="stylesheet" type="text/css" href="/static/css/styles_index.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>{{ app_title }}</title>
</head>

<body>
  <div class="container">
      <div class="d-flex justify-content-center">
          <div class="jumbotron" style="background:transparent !important">
              <i class="fab fa-twitter fa-4x"></i><heading> <strong>{{ app_title }}</strong></heading>
          </div>
      </div>
      <div id="contentMenu">
          <div class="d-flex justify-content-center">
              <div class="jumbotron" style="background:transparent !important">
                    <h1 class="display-4">Welcome to the Data Gathering Service</h1>
                    <p class="lead mb-5">Select one of the following options to start working!.</p>
                    <div class="d-flex justify-content-center">
                        <form action="/" method="POST" role="form">
                            <div class="btn-group-vertical" id="vertMenu">
                                <button class="btn btn-success btn-lg mb-2" type="submit" name="start" formaction="{{url_streaming_form}}">Start Streaming</button>
                                <button class="btn btn-danger btn-lg mb-2" type="submit" name="stop" formaction="{{url_streaming_status}}">Streaming Monitoring</button>
                                <button class="btn btn-primary btn-lg mb-2" type="submit" name="monitoring" formaction="{{url_streaming_analytics}}">Streaming Analytics</button>
                            </div>
                        </form>
                    </div>
              </div>
          </div>
      </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/main.js?newversion"></script>
</body>

</html>