<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sarcasm Analyser using Deep Learning">
    <meta name="author" content="David Martín-Gutiérrez">


    <!--<link href="http://flask.pocoo.org/docs/0.12/_static/flask-favicon.ico" rel="icon">-->
    <link rel="stylesheet" type="text/css" href="/static/css/styles_index.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>{{ app_title }}</title>
</head>


<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
          <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_streaming_home}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_streaming_form}}" rel="external">New Streaming </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{{url_streaming_status}}" rel="external">Monitoring<span class="sr-only">(current)</span></a>
                  </li>
                <li class="nav-item">
                <a class="nav-link" href="{{url_streaming_analytics}}" rel="external">Analytics</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
          <div class="jumbotron" style="background:transparent !important">
              <i class="fab fa-twitter fa-4x"></i><heading> <strong>{{ app_title }}</strong></heading>
          </div>
        </div>
        <div class="card text-center" id="cardMonitoring">
                  <div class="card-header">
                    Elasticsearch Index Status
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Monitoring your Elasticsearch Index!</h5>
                    <p class="card-text">Select the database</p>
                      <div class="d-flex justify-content-center">
                          <div class="form-group">
                            <div class="input-group">
                                <form action="{{url_streaming_status}}" method="GET" role="form" id="myStatusForm" name="myStatusForm" onSubmit="formAction(this)">
                                        <select class="selectpicker form-control mb-2" id="pickerStatus">
                                          {% for o in data_es %}
                                          <option value="{{ o.name }}">{{ o.name }}</option>
                                          {% endfor %}
                                        </select>
                                        <button class="btn btn-success btn-lg mb-2" type="submit" id="btnStatus">Go!</button>
                                </form>
                            </div>
                          </div>
                      </div>

                  </div>
                  <div class="card-footer text-muted">
                  </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/main.js?newversion"></script>

</body>
</html>