body {
  background-image: url('/static/img/background_3_2.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

heading {
	font-family: 'Raleway', sans-serif;
    font-size: 64px;
}

.container {
    background: none;
}

.navbar {
    font-family: 'Raleway', sans-serif;

}
#content{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#cardStatus, #cardMonitoring{
font-family: 'Raleway', sans-serif;

}

.card text-center
{
font-family: 'Raleway', sans-serif;
}

